.header {
    background: #0f1d2f;
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
}

.header-time {
    position: absolute;
    top: 2rem;
    right: 6rem;
}

.header-time p {
    font-size: 1.5rem;
    color: white;
}

.header-info {
    background: #031327;
    width: 100%;
    height: 7rem;
    position: relative;
    margin: 0 auto;
}

.header-img {
    position: absolute;
    z-index: 1;
    left: 4rem;
    background: #031327;
}

.header-movie {
    position: absolute;
    left: 25rem;
}

.header-text {
    font-size: 2rem;
    color: white;
    padding: 0 4rem;
}

.header-login {
    position: absolute;
    right: 5rem;
    display: flex;
    z-index: 1;
}

.header-log {
    font-size: 1.5rem;
    color: white;
    padding: 0 1rem;

}